body {
    background: #EEE8D5;
    font-size: 10pt;
    margin-bottom: 65px;
}
button.navbar-toggle {
    float:left;
}
.container {
    max-width: 950px;
}
.main-content {
    background: white;
}
.clear10 {
    clear: both;
    margin-bottom: 20px;
}
.clearbot {
    margin-bottom: 0px;
    background: white;
}
/*
.navbar .navbar-collapse {
  text-align: center;
}*/
.col-sm-3{
	padding: 3px;
}